<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
        {% csrf_token %}

    <label for="tn">Topic name</label>  
    <select name="tn" id="tn">
        {% for to in topic %}
           <option value="{{to.topic_name}}">{{to.topic_name}}
           </option>
        {% endfor %}
    </select>

     <br>   
    <label for="n"> name:</label> 
    <input type="text" name="n" id="n"><br> 
    <label for="u">Url:</label>
    <input type="text" name="u" id="u"><br>
    <label for="em">Email:</label>
    <input type="email" name="em" id="em"><br>
    <input type="submit"value="create_web"><br> 
    
    </form>
</center>

</body>
</html>